h1{color: rgb(6, 253, 101);}
h1{text-align: center;}
h2{color: rgb(0, 102, 255);}
h3{color: rgb(171, 4, 236);}
h4{color: red;}
h5{color: orange;}
h6{color: yellow;}
ol{color: rgb(72, 255, 0);}
body{background-color: rgb(255, 255, 255);}
p{color: rgb(15, 224, 224);}